@viewport {
    height: device-height;
    min-zoom: 0.5;
    max-zoom: 5;
}

body {
	text-align: center;
	background-color: #FFFFFF;
	color: #000000;
	position: relative;
}

container {
	top: 50%;
	transform: translateY(-50%);
	height: 100%;
}

::-webkit-scrollbar { 
    display: none; 
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 4em;
	font-weight: 500;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 2.5em;
	font-weight: 300;
}

a {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

span {
	text-shadow: 0 0 2px #000;
	font-weight: 400;
}

.Error {
	color: orange;
}

.On {
	color: green;
}

.Off {
	color: red;
}

.Level_5 {
	color:#ffff33;
}

.Level_4 {
	color:#f2f200;
}

.Level_3 {
	color:#e6e600;
}

.Level_2 {
	color:#999900;
}

.Level_1 {
	color:#4d4d00;
}

.white {
	text-shadow: 0 0 3px #000;
	color:#fff;
}

.red {
	color:#ED1515;
}

.darkorange {
	color:#F75B07;
}

.orange {
	color:#F79307;
}

.amber {
	color:#F7D307;
}

.yellow {
	color:#F2EE0A;
}

.lightgreen {
	color:#00FA7D;
}

.green {
	color:#2AF72A;
}

.lightblue {
	color:#00DDFA;
}

.blue {
	color:#0059FF;
}

.indigo {
	color:#8400FF;
}

.purple {
	color:#BF00FF;
}

.pink {
	color:#F200FF;
}